/* PHONE           0 - 600px   
Tablet portet      600 - 900px
Tablet landscape   900 - 1200px
Normal style apply [1200 - 1800px]
Big desktop        1800px +

$breakpoint arguement choices:
phone = max-width: 600px;

tab-port = min-width: 601px and max-width: 900px

tab-land = min-width:901px and max-width: 1200px

big-desktop = min-width: 188px;

1em=16px
600/16=37.5
*/
/* COLOR PALETTE */
:root {
  --dark-chocolate-no-sugar: #1E0000;
  --wine: #4F0804;
  --clay: #9D3220;
  --dusty-rose: #BC6C51;
  --biscuits: #EBB29E;
  --white: #fff;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

img {
  width: auto;
  max-width: 100%;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, textarea {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  font-family: inherit;
}

html {
  height: 100%;
  font-size: 62.5%;
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

@media (min-width: 56.3125em) and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 37.5em) {
  html {
    font-size: 46%;
  }
}

body {
  font-family: work-sans, sans-serif;
  background-color: var(--dark-chocolate-no-sugar);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.section-heading {
  font-family: abril-fatface, serif;
  font-weight: 400;
  font-style: normal;
  color: var(--biscuits);
  font-size: 10.3rem;
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .section-heading {
    font-size: 7.3rem;
  }
}

@media (max-width: 37.5em) {
  .section-heading {
    font-size: 6rem;
  }
}

.strong {
  font-weight: 700;
}

.btn {
  color: #fff;
  background-color: var(--wine);
  letter-spacing: 0.3rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3rem;
  padding: 2rem 5.8rem;
}

@media (max-width: 37.5em) {
  .btn {
    font-size: 2rem;
    padding: 1.8rem 4rem;
  }
}

.tarrifs__heading {
  text-align: center;
  margin-bottom: 1.6rem;
}

@media (max-width: 37.5em) {
  .tarrifs__heading {
    margin: 1rem auto;
  }
}

.tarrifs__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[4];
      grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 1.6rem;
}

@media (max-width: 72.43em) {
  .tarrifs__row {
    -ms-grid-columns: (minmax(250px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

@media (max-width: 37.5em) {
  .tarrifs__row {
    -ms-grid-columns: minmax(70%, 250px);
        grid-template-columns: minmax(70%, 250px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.tarrifs__card {
  background-color: var(--dusty-rose);
  font-size: 2rem;
  letter-spacing: 1px;
  color: var(--dark-chocolate-no-sugar);
  text-align: center;
  padding: 5rem;
}

.tarrifs__card-title, .tarrifs__card-price {
  font-family: abril-fatface, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
}

.tarrifs__card-label {
  letter-spacing: 3px;
  margin-bottom: 5rem;
}

.tarrifs__card-body {
  margin-bottom: 5rem;
}

.nav {
  height: 10.7rem;
  width: 100%;
  background-color: rgba(30, 0, 0, 0.61);
  z-index: 3;
}

.nav__container {
  padding: 0;
  margin: 0 auto;
  width: 80%;
}

@media (min-width: 112.5em) {
  .nav__container {
    width: 70%;
  }
}

@media (min-width: 56.3125em) and (max-width: 75em) {
  .nav__container {
    width: 90%;
  }
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .nav__container {
    width: 95%;
  }
}

@media (max-width: 37.5em) {
  .nav__container {
    width: 100%;
  }
}

.nav__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 10.7rem;
}

.nav__link {
  color: var(--white);
}

.nav__link:hover {
  color: var(--clay);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .nav__menu {
    display: none;
  }
}

@media (max-width: 37.5em) {
  .nav__menu {
    display: none;
  }
}

.nav__brand {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 37.5em) {
  .nav__brand {
    margin: 1rem 6rem;
  }
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .nav__logo {
    width: 8rem;
    height: 8rem;
  }
}

@media (max-width: 37.5em) {
  .nav__logo {
    width: 6rem;
    height: 6rem;
  }
}

.nav__item:not(:last-child) {
  margin-right: 5rem;
}

.hamb {
  display: none;
}

@media (min-width: 112.5em) {
  .hamb {
    display: none;
  }
}

@media (min-width: 56.3125em) and (max-width: 75em) {
  .hamb {
    display: none;
  }
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .hamb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 37.5em) {
  .hamb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hamb__field {
  padding: 1rem 2rem;
  cursor: pointer;
}

@media (max-width: 37.5em) {
  .hamb__field {
    padding: 1rem 6rem;
  }
}

.popup {
  display: none;
  position: fixed;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 0, 0, 0.61);
  z-index: 100;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (min-width: 112.5em) {
  .popup {
    display: none;
  }
}

@media (min-width: 56.3125em) and (max-width: 75em) {
  .popup {
    display: none;
  }
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .popup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 85.59px;
    bottom: 85.59px;
  }
}

@media (max-width: 37.5em) {
  .popup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 78.75px;
    bottom: 78.75px;
  }
}

.bar {
  display: none;
  height: 4px;
  background-color: var(--biscuits);
  -webkit-transition: .2s;
  transition: .2s;
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .bar {
    display: block;
    width: 6rem;
    margin: 1.4rem auto;
  }
}

@media (max-width: 37.5em) {
  .bar {
    display: block;
    width: 5rem;
    margin: 1rem auto;
    height: 3px;
  }
}

.open {
  right: 0;
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .popup .mobile-menu {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 37.5em) {
  .popup .mobile-menu {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.mobile-menu {
  display: none;
  padding: 3rem 0;
  font-size: 5rem;
  text-align: center;
  letter-spacing: 5px;
}

.mobile-menu__item {
  margin-bottom: 10vh;
}

.mobile-menu__link {
  color: var(--white);
  -webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
          box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  padding: 2rem 5rem;
}

.mobile-menu__link:hover {
  color: var(--clay);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hamb__field.active .bar:nth-child(2) {
  opacity: 0;
}

.hamb__field.active .bar:nth-child(1) {
  -webkit-transform: translateY(11px) rotate(50deg);
          transform: translateY(11px) rotate(50deg);
  z-index: 200;
}

.hamb__field.active .bar:nth-child(3) {
  -webkit-transform: translateY(-19px) rotate(-49deg);
          transform: translateY(-19px) rotate(-49deg);
  z-index: 200;
}

@media (max-width: 37.5em) {
  .hamb__field.active .bar:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-49deg);
            transform: translateY(-10px) rotate(-49deg);
  }
}

.page-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100vh min-content min-content min-content min-content;
      grid-template-rows: 100vh -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content;
      grid-template-rows: 100vh min-content min-content min-content min-content;
}

.main-content {
  width: 80%;
  margin: 17rem auto 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: ()[minmax];
      grid-template-rows: repeat(minmax(100vh, auto));
  grid-gap: 15rem;
}

@media (min-width: 112.5em) {
  .main-content {
    width: 70%;
  }
}

@media (min-width: 56.3125em) and (max-width: 75em) {
  .main-content {
    width: 90%;
  }
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .main-content {
    width: 95%;
  }
}

@media (max-width: 37.5em) {
  .main-content {
    width: 95%;
  }
}

.header--home {
  position: relative;
  background-image: url(../../img/hero.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.75;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header--home__contacts {
  height: 10.7rem;
  width: 100%;
  background-color: rgba(30, 0, 0, 0.61);
  z-index: 3;
  font-size: 1.6rem;
  position: absolute;
  bottom: 0;
}

@media (max-width: 37.5em) {
  .header--home__contacts--email {
    display: none;
  }
}

.header--home__contacts-content {
  width: 80%;
  height: 10.7rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 37.5em) {
  .header--home__contacts-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.header--home__contacts-item {
  color: var(--white);
}

.header--home__contacts-item:hover {
  color: var(--dusty-rose);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header--home svg:hover {
  color: var(--clay);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header--home__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 5rem;
  margin-top: 15%;
  margin-right: 10%;
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .header--home__social {
    display: none;
  }
}

@media (max-width: 37.5em) {
  .header--home__social {
    display: none;
  }
}

.header--home__social__icons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presentation {
  text-align: left;
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.presentation__title {
  font-family: abril-fatface, serif;
  font-weight: 400;
  font-style: normal;
  color: var(--dusty-rose);
  font-size: 6rem;
}

.presentation__title:hover {
  letter-spacing: 0.08rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media (max-width: 37.5em) {
  .presentation__title {
    font-size: 3rem;
  }
}

.presentation__subtitle {
  font-family: work-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.375rem;
  color: var(--biscuits);
  font-size: 2.5rem;
  margin-bottom: 7rem;
}

.presentation__subtitle:hover {
  letter-spacing: 0.25rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media (max-width: 37.5em) {
  .presentation__subtitle {
    font-size: 2rem;
  }
}

.instagram-bar__heading {
  margin: 0 auto;
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .instagram-bar__heading {
    text-align: center;
  }
}

@media (max-width: 37.5em) {
  .instagram-bar__heading {
    display: none;
  }
}

.instagram-bar__container {
  position: relative;
  background-color: var(--wine);
}

.instagram-bar__carousel {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(32rem, min-content);
      grid-template-rows: minmax(32rem, -webkit-min-content);
      grid-template-rows: minmax(32rem, min-content);
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.instagram-bar__carousel-item {
  background-position: center;
  background-size: cover;
}

.instagram-bar__carousel-item--1 {
  background-image: url(../../img/inst-bar-1.jpg);
}

@media (max-width: 37.5em) {
  .instagram-bar__carousel-item--1 {
    display: none;
  }
}

.instagram-bar__carousel-item--2 {
  background-image: url(../../img/inst-bar-2.jpg);
}

.instagram-bar__carousel-item--3 {
  background-image: url(../../img/inst-bar-3.jpg);
}

.instagram-bar__carousel-item--4 {
  background-image: url(../../img/inst-bar-4.jpg);
}

.instagram-bar__carousel-item--5 {
  background-image: url(../../img/inst-bar-5.jpg);
}

@media (max-width: 37.5em) {
  .instagram-bar__carousel-item--5 {
    display: none;
  }
}

.instagram-bar__carousel-item--6 {
  background-image: url(../../img/inst-bar-6.jpg);
}

@media (max-width: 37.5em) {
  .instagram-bar__carousel-item--6 {
    display: none;
  }
}

.instagram-logo {
  padding: 1.5rem 4.7rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--biscuits);
}

.footer {
  margin-top: 15rem;
  background-color: var(--biscuits);
  color: var(--dark-chocolate-no-sugar);
  letter-spacing: 3px;
  line-height: 3.5rem;
}

.footer__container {
  width: 80%;
  margin: 6.3rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[2];
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media (min-width: 112.5em) {
  .footer__container {
    width: 70%;
  }
}

@media (min-width: 56.3125em) and (max-width: 75em) {
  .footer__container {
    width: 90%;
  }
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .footer__container {
    width: 95%;
    -ms-grid-rows: (min-content)[4];
        grid-template-rows: repeat(4, -webkit-min-content);
        grid-template-rows: repeat(4, min-content);
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 37.5em) {
  .footer__container {
    width: 100%;
    -ms-grid-rows: (min-content)[5];
        grid-template-rows: repeat(5, -webkit-min-content);
        grid-template-rows: repeat(5, min-content);
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    justify-items: center;
    gap: 3rem;
  }
}

.footer__contacts, .footer__contacts-item {
  font-size: 2rem;
  color: var(--dark-chocolate-no-sugar);
}

@media (min-width: 112.5em) {
  .footer__contacts, .footer__contacts-item {
    font-size: 2.3rem;
  }
}

@media (min-width: 56.3125em) and (max-width: 75em) {
  .footer__contacts, .footer__contacts-item {
    font-size: 1.8rem;
  }
}

@media (max-width: 37.5em) {
  .footer__contacts, .footer__contacts-item {
    text-align: center;
  }
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .footer__logo {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (max-width: 37.5em) {
  .footer__logo {
    width: 10rem;
    height: 10rem;
  }
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .footer__contacts {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.footer__contacts--location {
  text-align: center;
  line-height: 2.9rem;
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .footer__contacts--location {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
}

.footer__contacts-heading {
  font-weight: 700;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 112.5em) {
  .footer__social {
    gap: 5;
  }
}

@media (min-width: 56.3125em) and (max-width: 75em) {
  .footer__social {
    gap: 3rem;
  }
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .footer__social {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    margin: 3rem auto;
  }
}

.footer__copyright {
  font-size: 1.4rem;
  letter-spacing: 2.1px;
  text-align: center;
  grid-column: 1 / -1;
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .footer__copyright {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
}

.portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.6rem;
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .portfolio {
    -ms-grid-rows: (10rem)[17];
        grid-template-rows: repeat(17, 10rem);
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 37.5em) {
  .portfolio {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: (min-content)[7];
        grid-template-rows: repeat(7, -webkit-min-content);
        grid-template-rows: repeat(7, min-content);
  }
}

.portfolio img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
  width: 100%;
}

.portfolio__title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2x;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

@media (max-width: 37.5em) {
  .portfolio__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.portfolio__categories {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  background-color: var(--clay);
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 37.5em) {
  .portfolio__categories {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    width: 100%;
    height: 8rem;
  }
}

.portfolio__categories a {
  color: var(--white);
  font-size: 2rem;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 700;
}

.portfolio__categories a:first-child,
.portfolio__categories a:hover,
.portfolio__categories a:focus {
  color: var(--wine);
}

.portfolio__item--1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  grid-row: 3 / 7;
}

@media (max-width: 37.5em) {
  .portfolio__item--1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
}

.portfolio__item--2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  grid-row: 3 / 7;
}

@media (max-width: 37.5em) {
  .portfolio__item--2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
}

.portfolio__item--3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 7;
  -ms-grid-row-span: 5;
  grid-row: 7 / 12;
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .portfolio__item--3 {
    -o-object-fit: cover;
       object-fit: cover;
    -ms-grid-row: 7;
    -ms-grid-row-span: 4;
    grid-row: 7 / 11;
  }
}

@media (max-width: 37.5em) {
  .portfolio__item--3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
  }
}

.portfolio__item--4 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 10;
  grid-row: 2 / 12;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .portfolio__item--4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 11;
    -ms-grid-row-span: 6;
    grid-row: 11 / 17;
    -o-object-position: top;
       object-position: top;
  }
}

@media (max-width: 37.5em) {
  .portfolio__item--4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
}

.portfolio__btn--expand {
  grid-column: 1 / -1;
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  grid-row: 12 / 13;
  color: var(--white);
  font-size: 2rem;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 700;
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .portfolio__btn--expand {
    -ms-grid-row: 17;
    -ms-grid-row-span: 1;
    grid-row: 17 / 18;
  }
}

@media (max-width: 37.5em) {
  .portfolio__btn--expand {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7 / 8;
  }
}

.portfolio__btn--expand a {
  color: var(--white);
}

.portfolio__btn--expand svg {
  fill: var(--white);
  width: 2rem;
  height: 2rem;
}

.contact-me input:not(:last-child), .contact-me textarea {
  background-color: var(--dusty-rose);
  font-size: 2.5rem;
  padding: 2rem 4rem;
}

.contact-me {
  height: 90vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 1.6rem;
  margin: 1.6rem;
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .contact-me {
    height: 60vh;
    -ms-grid-rows: min-content 1fr 1fr;
        grid-template-rows: -webkit-min-content 1fr 1fr;
        grid-template-rows: min-content 1fr 1fr;
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 37.5em) {
  .contact-me {
    height: auto;
    -ms-grid-rows: (min-content)[4];
        grid-template-rows: repeat(4, -webkit-min-content);
        grid-template-rows: repeat(4, min-content);
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.contact-me img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
  width: 100%;
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .contact-me img {
    height: 30vh;
  }
}

.contact-me input:not(:last-child) {
  height: 5vh;
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .contact-me input:not(:last-child) {
    font-size: 1.8rem;
    padding: 1.8rem 3rem;
  }
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .contact-me textarea {
    font-size: 1.8rem;
    padding: 1.8rem 3rem;
  }
}

.contact-me input,
.contact-me textarea {
  width: 100%;
}

.contact-me__heading {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  text-align: center;
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .contact-me__heading {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
}

@media (max-width: 37.5em) {
  .contact-me__heading {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    margin: 2rem auto;
  }
}

.contact-me__form-wrapper {
  -ms-grid-row: 2;
  -ms-grid-row-span: 7;
  grid-row: 2 / 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  background-color: var(--biscuits);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .contact-me__form-wrapper {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

@media (max-width: 37.5em) {
  .contact-me__form-wrapper {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.contact-me__form {
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4vh;
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .contact-me__form {
    padding: 0 3rem;
    gap: 3vh;
  }
}

.contact-me__form-item::-webkit-input-placeholder {
  color: var(--dark-chocolate-no-sugar);
  opacity: 1;
  font-family: inherit;
}

.contact-me__form-item:-ms-input-placeholder {
  color: var(--dark-chocolate-no-sugar);
  opacity: 1;
  font-family: inherit;
}

.contact-me__form-item::-ms-input-placeholder {
  color: var(--dark-chocolate-no-sugar);
  opacity: 1;
  font-family: inherit;
}

.contact-me__form-item::placeholder {
  color: var(--dark-chocolate-no-sugar);
  opacity: 1;
  font-family: inherit;
}

.contact-me__description {
  letter-spacing: 3.75px;
  font-size: 2rem;
  text-align: center;
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .contact-me__description {
    letter-spacing: 3px;
  }
}

.contact-me__collage-item--1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .contact-me__collage-item--1 {
    display: none;
  }
}

@media (max-width: 37.5em) {
  .contact-me__collage-item--1 {
    display: none;
  }
}

.contact-me__collage-item--2 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / 6;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .contact-me__collage-item--2 {
    display: none;
  }
}

@media (max-width: 37.5em) {
  .contact-me__collage-item--2 {
    display: none;
  }
}

.contact-me__collage-item--3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2 / 6;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5 / 7;
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .contact-me__collage-item--3 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

@media (max-width: 37.5em) {
  .contact-me__collage-item--3 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    height: auto;
  }
}

.contact-me__collage-item--4 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  grid-row: 6 / 9;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / 6;
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .contact-me__collage-item--4 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

@media (max-width: 37.5em) {
  .contact-me__collage-item--4 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    height: auto;
  }
}

.contact-me__collage-item--5 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  grid-row: 6 / 9;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6 / 7;
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .contact-me__collage-item--5 {
    display: none;
  }
}

@media (max-width: 37.5em) {
  .contact-me__collage-item--5 {
    display: none;
  }
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[5];
      grid-template-rows: repeat(5, auto);
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-gap: 1.6rem;
}

@media (max-width: 37.5em) {
  .about {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: (auto)[6];
        grid-template-rows: repeat(6, auto);
  }
}

.about__title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / span 7;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

@media (max-width: 37.5em) {
  .about__title {
    margin: 1.5rem;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.about__content {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  background-color: var(--biscuits);
  font-size: 2rem;
  padding: 2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 37.5em) {
  .about__content {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.about p:not(:last-child) {
  margin-bottom: 2rem;
}

.about__experience {
  background-color: var(--wine);
  color: var(--biscuits);
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  line-height: 2rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__experience--title {
  font-family: abril-fatface, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

@media (min-width: 112.5em) {
  .about__experience--title {
    font-size: 4rem;
  }
}

.about__experience--subtitle {
  font-family: work-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  letter-spacing: .3rem;
  line-height: 0;
}

@media (min-width: 112.5em) {
  .about__experience--subtitle {
    font-size: 1.8rem;
    letter-spacing: .5rem;
    line-height: 1rem;
  }
}

.about__experience--years {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

@media (max-width: 37.5em) {
  .about__experience--years {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.about__experience--photosessions {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / 6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

@media (max-width: 37.5em) {
  .about__experience--photosessions {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.about__experience--clients {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / 6;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

@media (max-width: 37.5em) {
  .about__experience--clients {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.about__img {
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2 / 6;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / 7;
}

@media (max-width: 37.5em) {
  .about__img {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.about__img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  height: 100%;
  width: 100%;
}

.portfolio-gallery {
  background-color: var(--wine);
  padding-top: 4rem;
}

.portfolio-gallery__subtitle {
  font-family: work-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: var(--biscuits);
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 4rem;
}

.portfolio-gallery__instagram-wrap {
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 112.5em) {
  .portfolio-gallery__instagram-wrap {
    width: 70%;
  }
}

@media (min-width: 56.3125em) and (max-width: 75em) {
  .portfolio-gallery__instagram-wrap {
    width: 90%;
  }
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .portfolio-gallery__instagram-wrap {
    display: none;
  }
}

@media (max-width: 37.5em) {
  .portfolio-gallery__instagram-wrap {
    display: none;
  }
}

.portfolio-gallery__instagram-bar {
  margin-top: 15rem;
}

.portfolio-gallery__footer {
  padding: 2rem 0;
}

.grid-gallery {
  width: 90%;
  -webkit-column-count: 5;
          column-count: 5;
  margin: 0 auto;
}

.grid-gallery__item img {
  width: 100%;
  height: auto;
  margin: 1em 1em 0 0;
}

@media (min-width: 112.5em) {
  .grid-gallery {
    -webkit-column-count: 6;
            column-count: 6;
  }
}

@media (min-width: 56.3125em) and (max-width: 75em) {
  .grid-gallery {
    -webkit-column-count: 4;
            column-count: 4;
  }
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
  .grid-gallery {
    -webkit-column-count: 3;
            column-count: 3;
  }
}

@media (max-width: 37.5em) {
  .grid-gallery {
    -webkit-column-count: 2;
            column-count: 2;
  }
}
/*# sourceMappingURL=main.css.map */